{% extends "layout.html" %}

{% block title %}
ChatX homepage
{% endblock  %}

{% block content %}

<h1 class="text-center mt-4">Welcome to ChatX</h1>

<h2>{%if form.instance.pk %}
    Edit Chat
    {% else %}
    Create Chat
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'chat_list' %}">Back to chat list</a>
</h2>

{% endblock %}
