{% extends "layout.html" %}

{% block title %}
ChatX homepage
{% endblock %}

{% block content %}

<a class="btn btn-primary m-4" href="{% url 'chat_create' %}">Create a chat</a>
<div class="container row gap-3">
{% for chat in chats %}
<div class="card" style="width: 18rem;">
    {% if chat.image %}
        <img src="{{ chat.image.url }}" class="card-img-top" alt="Uploaded Image">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ chat.user.username }}</h5>
      <p class="card-text">{{ chat.text }}</p>
      {% if chat.user == user %}
      <a href="{% url 'chat_edit' chat.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'chat_delete' chat.id %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}
